@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Lato&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

body{
    background-color: rgb(129, 123, 123);
}
.navbar{
background-color: rgb(56, 139, 139);

}
.portada {
    
   background-image: url(../img/camiondib1\(1\).jpg);
   background-position: center;
    background-size:cover;
    height: 100vh;
   
  
   
}
.portada__texto {
    display: flex;
    justify-content:space-between ;
    color: aliceblue;
    background-color: rgba(128, 128, 128, 0.24);
   padding-left: 1rem;
   padding-top: 1rem;
    
}



/******menu********/

.menu {
    
   
    
    background-size:cover;
    background-repeat: no-repeat;
    height: 90vh;

    color: rgb(20, 20, 20);
    padding: 1rem;
    font-size: 2rem;
    

}

.nav-item {
        
        margin-right: 20px;
        margin-left: 10px;
       text-align: center;
       display:inline-block;
       
}
.nav-item a {
    color: aliceblue;
  }
main {
    padding: 40px;
}

/*******cards********/

.cards {
    display: flex;
   justify-content: space-between;
    gap: 20px;
    padding: 15px;
    
  
}
.card {
  

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border: solid 2px rgb(136, 126, 126);
    min-width: 400px;/*para que no se achique tanto*/
    max-width: 500px;
    height: 30 0px;

    /*sombra a la tarj*/
    box-shadow: 1px 8px 8px;
    border-radius: 10px;
    /*la img pasa el borde de su contenedor*/
    overflow: hidden;
   
      
}

.card__img {
   
    width: 100%;


}

.card__titulo {
    padding: 1rem 0rem 1rem 0rem;
    text-align: center;
    padding: 1rem;
    font-size: 20px;

}
.card__parrafo{
    margin: 1rem;
    font-size: 16px;

}

/*************************ubicacion************************/
.ubicacion__title{
   
    font-size: 2rem;
    text-align: center;
    padding: 15px;
   
}
.ubicacion__mapa {
    padding-top: 1rem;
width: 100%;
height: 35vh;
border: 0;
}
/*******************************footer***********************/
footer {
    background-color: aqua;
    padding-top: 2rem;;
    justify-content: space-between;
     

}

.footer__top {
    display: flex;
    justify-content: space-between;
    color: rgb(3, 3, 3);
    padding: 1rem;
}


.footer__top p {
    text-align: center;
    }
    
    .redes__title {
    text-align: center;
    font-size: 1.2rem;
    
    }
    .redes__iconos {
        display: flex;
        justify-content: center;
        gap: 40px;
        padding-top: 10px;
    }
    .redes__iconos i {
        font-size: 2rem;
        color: rgb(10, 10, 10);
    
    }

/******************ventas********************/

.main__ventas {

    background-image: url(/img/ventas.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: blue;
    height: 80vh;
    padding: 2rem;
}

.header__titulo {

   
        text-align:center;
        font-size: 2rem ;
        padding-top: 2rem;
        font-family: 'Alfa Slab One', cursive;
   
}
.tabla__ventas {
   background-color: rgba(235, 231, 12, 0.603);
   border: 1px solid rgb(44, 12, 224);
   width: 100%;
}
th, td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
   
    
 }

/****************contacto****************/
.titulo__cot {
    text-align:center;
   font-size: 2rem ;
   font-family: 'Alfa Slab One', cursive;
}
form {
    padding: 3rem;

}
/**************Nuestra Empresa*********************/
.fotos {
    display: flex;
 
    
}
.nuestra__titulo {
    text-align:center;
    font-size: 2rem ;
    padding-top: 2rem;
    font-family: 'Alfa Slab One', cursive;
}
.nuestra__desc {
    text-align:center;
    font-size: 1rem ;
    padding: 2rem;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.foto {
width: 500px;
display: inline-block;
background-color: rgba(230, 90, 25, 0.349);
border: 2px solid rgb(170, 9, 9);
padding: 10px;    

border-radius: 10px;

margin: 20px;

}

.foto__img {

    width: 100%;
}
/*****************Trasladamos**********************/
.productos__titulo{
    text-align:center;
    font-size: 2rem ;
    padding-top: 2rem;
    font-family: 'Alfa Slab One', cursive;

}

.trasladamos{

    text-align:center;
    font-size: 2rem ;
    padding-top: 2rem;
    font-family: 'Alfa Slab One', cursive;
    
    height: 400px;
    background-color: rgba(230, 90, 25, 0.349);
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;    
    border-radius: 10px;
    margin-inline: 10px;
    margin-top: 40px;
    margin-left: 20px;

}

.grid {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "item1 item2 item3"
    "item4 item5 item6" ;
    gap: 1rem;
}

.grid_item{

    background-size:cover;
    background-position: center center ;
    padding: 2rem;
    background-repeat: no-repeat;
    border: solid rgb(20, 20, 20);
    box-shadow: 1px 8px 8px;
    border-radius: 20px;
    height: 150px;
    
}
.grid_item1 {
    grid-area: item1;
    background-image: url(../img/trasimg/auto.png);
    
     
}
.grid_item2 {
    grid-area: item2;
    background-image: url(../img/trasimg/autocomp.png);
}

.grid_item3 {
    grid-area: item3;
    background-image: url(../img/trasimg/barcos.png);
}

.grid_item4 {
    grid-area: item4;
    background-image: url(../img/trasimg/camioneta.png);
}
.grid_item5 {
    grid-area: item5;
    background-image: url(../img/trasimg/moto-electrica-de-pista-shadow-kw-motors-foto-transparente-min-e1538967358902.png);
}
.grid_item6 {
    grid-area: item6;
    background-image: url(../img/trasimg/tractor.png);
}





/*
@media screen and (min-width: 350px){

.footer{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}/*

}