@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
ul,
ol {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    background-color: rgb(129, 123, 123);
}

/*********************************************INDEX*************************************/
/***************************************************************************************/

/****************Barra de Navegacion**********************/

.main__ind{
    background: rgb(39,41,42);
    background: linear-gradient(100deg, rgba(39,41,42,0.571848807882528) 0%, rgba(168,21,51,1) 100%); 

}
.navbar-toggler {
    background-color: white;
}
.navbar-toggler {
    background-color: white;
}
.nav__titulo {
    font-size: 1rem;
    font-family: 'Alfa Slab One', cursive;
}
.nav-link.active {
    background-color: aliceblue;
    border-radius: 1rem;
}
.logo {
    color: aliceblue;
    padding-left: 1rem;
}
.navbar {
    padding: 1.5rem;
}
.nav-item {
    margin-right: 20px;
    margin-left: 10px;
    text-align: center;
    display: inline-block;
}
.nav-item a {
    color: aliceblue;
}
main {
    padding: 40px;
}
.container {
    display: flex;
    justify-content: flex-end;
}

/***********************Titulo portada*********************/
.portada {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/camiondib1\(1\).jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.portada__titulo {
    padding: 2rem;
    font-family: 'Fredoka One', cursive;
    font-size: 2rem;
    color: red;

}

/************Servicio 24 y celular*************************/
.portada__texto {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: rgb(221, 25, 25);
    background-color: rgba(212, 196, 196, 0.753);
    padding-left: 1rem;
    padding-top: 1rem;
    font-family: 'Fredoka One', cursive;

}

/********************************grilla************************************/

.trasladamos {
    text-align: center;
    font-size: 2rem;
    padding-top: 6rem;
    font-family: 'Alfa Slab One', cursive;
    height: 400px;
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
    margin-inline: 10px;
    margin-top: 40px;
    margin-left: 20px;

}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "item1 item2 item3"
        "item4 item5 item6";
    gap: 1rem;
}
.grid_item {
    background-size: cover;
    background-position: center center;
    padding: 2rem;
    background-repeat: no-repeat;
    border: solid rgb(20, 20, 20);
    box-shadow: 1px 8px 8px;
    border-radius: 20px;
    height: 150px;

}
.grid_item1 {
    grid-area: item1;
    background-image: url(../img/trasimg/auto.png);
}
.grid_item2 {
    grid-area: item2;
    background-image: url(../img/trasimg/autocomp.png);
}
.grid_item3 {
    grid-area: item3;
    background-image: url(../img/trasimg/barcos.png);
}
.grid_item4 {
    grid-area: item4;
    background-image: url(../img/trasimg/camioneta.png);
}
.grid_item5 {
    grid-area: item5;
    background-image: url(../img/trasimg/moto-electrica-de-pista-shadow-kw-motors-foto-transparente-min-e1538967358902.png);
}
.grid_item6 {
    grid-area: item6;
    background-image: url(../img/trasimg/tractor.png);
}

/**************************ubicacion*******************************/
.ubicacion__title {
    text-align: center;
    font-size: 2rem;
    padding-top: 6rem;
    font-family: 'Alfa Slab One', cursive;
    height: 500px;
    background-color: rgbargb(129, 123, 123);
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
    margin-inline: 10px;
    margin-top: 40px;
    margin-left: 20px;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}
.ubicacion__mapa {
    width: 90%;
    height: 400px;
    background-repeat: no-repeat;
    border: solid rgb(20, 20, 20);
    box-shadow: 1px 8px 8px;
    border-radius: 20px;

}

/*********************************************FOOTER***********************************************/
/*************************************************************************************************/
footer {
    background: rgb(39, 41, 42);
    background: linear-gradient(340deg, rgba(39, 41, 42, 1) 3%, rgba(88, 135, 172, 1) 51%, rgba(168, 21, 51, 1) 100%);
    padding-top: 2rem;
    ;
    justify-content: space-between;
}
.footer__top {
    display: flex;
    justify-content: space-between;
    color: rgb(3, 3, 3);
    padding: 4rem;
}

.footer__top p {
    text-align: center;

}
.redes__title {
    text-align: center;
    font-size: 1.2rem;

}
.redes__iconos {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 10px;
}
.redes__iconos i {
    font-size: 2rem;
    color: rgb(10, 10, 10);

}


/***************************************TRASLADAMOS.HTML*********************************/
/***********************************************************************************/
.main_trasl{
    background: rgb(39,41,42);
    background: linear-gradient(100deg, rgba(39,41,42,0.571848807882528) 0%, rgba(168,21,51,1) 100%); 
}
.productos__titulo {
    text-align: center;
    font-size: 2rem;
    padding-top: 2rem;
    font-family: 'Alfa Slab One', cursive;
    color: white;

}
.cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: solid 2px rgb(10, 10, 10);
    width: 700px;
    height: 30 0px;
    box-shadow: 1px 8px 8px rgb(192, 43, 135);
    border-radius: 10px;
    overflow: hidden;

}
.card__img {
    width: 100%;
    padding: 1rem;
    border-radius: 2rem;

}
.card__titulo {
    padding: 1rem 0rem 1rem 0rem;
    text-align: center;
    padding: 1rem;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.card__parrafo {
    margin: 2rem;
    font-size: 20px;

}

/***********************************VENTAS.HTML***********************************/
/***********************************************************************************/
.main__ventas {
    background-image: url(/img/ventas.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background: rgb(39,41,42);
    background: linear-gradient(100deg, rgba(39,41,42,0.571848807882528) 0%, rgba(168,21,51,1) 100%);    
    padding: 2rem;

}
.header__titulo {
    text-align: center;
    font-size: 2rem;
    padding-top: 1rem;
    font-family: 'Alfa Slab One', cursive;
    color: rgb(253, 253, 253);

}
.tabla__ventas {
    padding-top: 4rem;
    padding-bottom: 3rem;
}
th {
    width: 25%;
    text-align: center;
    vertical-align: top;
    border: 1px solid #000;

}

/********************************NUESTRAEMPRESA.HTML********************************/
/***********************************************************************************/
.main__nuestra{
    background: rgb(39,41,42);
    background: linear-gradient(100deg, rgba(39,41,42,0.571848807882528) 0%, rgba(168,21,51,1) 100%);    

}
.nuestra {
    display: flex;
    flex-direction: column;

}
.nuestra__titulo {
    text-align: center;
    font-size: 2rem;
    padding-top: 2rem;
    font-family: 'Alfa Slab One', cursive;
}
.nuestra__texto {
    color: white;
}
.nuestra__desc {
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*************************Grilla**************************/

.grid_sect {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "item1 item2 "
        "item3 item4 "
        "item5 item6 "
    ;
    gap: 1rem;
    padding-bottom: 3rem;
}

.grid__item {
    background-size: cover;
    background-position: center center;
    padding: 2rem;
    background-repeat: no-repeat;
    border: solid rgb(255, 255, 255);
    box-shadow: 1px 8px 8px;
    border-radius: 20px;
    height: 300px;



}

.grid__item1 {
    grid-area: item1;
    background-image: url(../img/imgnuestraempresa/193fc972-5f92-4dc1-8efb-460595f9a502.jfif);
}
.grid__item2 {
    grid-area: item2;
    background-image: url(../img/imgnuestraempresa/4257c5c9-c43c-46b4-a394-f9f58c5f8996.jfif);
}
.grid__item3 {
    grid-area: item3;
    background-image: url(../img/imgnuestraempresa/6d17a9c9-af7a-4bd7-9b6b-e4f879898282.jfif);
}
.grid__item4 {
    grid-area: item4;
    background-image: url(../img/imgnuestraempresa/7c9284f7-de3e-4798-8c41-c2d4be997e04.jfif);
}
.grid__item5 {
    grid-area: item5;
    background-image: url(../img/imgnuestraempresa/c2f12d4b-bb29-4b3d-bbd9-37e185def8bc.jfif);
}
.grid__item6 {
    grid-area: item6;
    background-image: url(../img/imgnuestraempresa/b326bd7e-c7c7-4d05-b7eb-54c42b3ff2cd.jfif);
}

.foto__img {
    border-radius: 10px;
    width: 100%;

}

/********************************CONTACTO.HTML**************************************/
/***********************************************************************************/
.main__cont{
    background: rgb(39,41,42);
    background: linear-gradient(100deg, rgba(39,41,42,0.571848807882528) 0%, rgba(168,21,51,1) 100%); 
}
.titulo__cot {
    text-align: center;
    font-size: 2rem;
    font-family: 'Alfa Slab One', cursive;
    color:white;
}

form {
    padding: 3rem;

}


                    /*************************************SECCION ANIMACIONES********************************/
                        /****************************************INDEX.HTML*******************************/

/**************logo****************/

.navbar,
.footer__top {

    -webkit-animation: rotate-hor-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: rotate-hor-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation-duration: 1s;
    animation-iteration-count: 1;

}

@-webkit-keyframes rotate-hor-center {
    0% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }

    100% {
        -webkit-transform: rotateX(-360deg);
        transform: rotateX(-360deg);
    }
}

@keyframes rotate-hor-center {
    0% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }

    100% {
        -webkit-transform: rotateX(-360deg);
        transform: rotateX(-360deg);
    }
}

/**************Nav****************/
.nav-item:hover {
    background-color: rgb(255, 255, 255);
    transform: scale(1.1) translatex(-10px);
    border-radius: 20px;

    box-shadow: rgba(170, 169, 169, 0.521) 5px 5px, rgba(8, 7, 7, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(151, 55, 116, 0.1) 20px 20px, rgba(223, 14, 146, 0.05) 25px 25px;

}

.nav-item {
    transition: transform 1s;
}

.logo,
.nav__titulo {
    animation-name: colores;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes colores {
    20% {
        color: rgb(248, 97, 9);
    }

    40% {
        color: rgb(164, 185, 45);
    }

    60% {
        color: rgb(39, 10, 204);
    }

    80% {
        color: rgb(231, 45, 12);
    }

    100% {
        color: rgb(204, 10, 146);
    }
}

/*************Portada****************/

.portada__titulo {
    -webkit-animation: roll-in-left .6s ease-out both;
    animation: roll-in-left .6s ease-out both;
    animation-delay: 1.5s;
}

@-webkit-keyframes roll-in-left {
    0% {
        -webkit-transform: translateX(-800px) rotate(-540deg);
        transform: translateX(-800px) rotate(-540deg);
        opacity: 0
    }

    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1
    }
}

@keyframes roll-in-left {
    0% {
        -webkit-transform: translateX(-800px) rotate(-540deg);
        transform: translateX(-800px) rotate(-540deg);
        opacity: 0
    }

    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1
    }
}

.portada__texto h2 {

    -webkit-animation: rotate-scale-up 0.65s linear both;
    animation: rotate-scale-up 0.65s linear both;
    animation-delay: 2.5s;
    animation-iteration-count: 1;
}

@-webkit-keyframes rotate-scale-up {
    0% {
        -webkit-transform: scale(1) rotateZ(0);
        transform: scale(1) rotateZ(0);
    }

    50% {
        -webkit-transform: scale(2) rotateZ(180deg);
        transform: scale(2) rotateZ(180deg);
    }

    100% {
        -webkit-transform: scale(1) rotateZ(360deg);
        transform: scale(1) rotateZ(360deg);
    }
}

/*************************Trasladamos********************/
.grid_item1 {
    -webkit-animation: roll-in-blurred-left .65s cubic-bezier(.23, 1.000, .32, 1.000) both;
    animation: roll-in-blurred-left .65s cubic-bezier(.23, 1.000, .32, 1.000) both;
    animation-delay: 4s;

}

.grid_item2 {
    -webkit-animation: roll-in-blurred-left .65s cubic-bezier(.23, 1.000, .32, 1.000) both;
    animation: roll-in-blurred-left .65s cubic-bezier(.23, 1.000, .32, 1.000) both;
    animation-delay: 4.2s;

}

.grid_item3 {
    -webkit-animation: roll-in-blurred-left .65s cubic-bezier(.23, 1.000, .32, 1.000) both;
    animation: roll-in-blurred-left .65s cubic-bezier(.23, 1.000, .32, 1.000) both;
    animation-delay: 4.4s;

}

.grid_item4 {
    -webkit-animation: roll-in-blurred-left .65s cubic-bezier(.23, 1.000, .32, 1.000) both;
    animation: roll-in-blurred-left .65s cubic-bezier(.23, 1.000, .32, 1.000) both;
    animation-delay: 4.6s;

}

.grid_item5 {
    -webkit-animation: roll-in-blurred-left .65s cubic-bezier(.23, 1.000, .32, 1.000) both;
    animation: roll-in-blurred-left .65s cubic-bezier(.23, 1.000, .32, 1.000) both;
    animation-delay: 4.8s;

}

.grid_item6 {
    -webkit-animation: roll-in-blurred-left .65s cubic-bezier(.23, 1.000, .32, 1.000) both;
    animation: roll-in-blurred-left .65s cubic-bezier(.23, 1.000, .32, 1.000) both;
    animation-delay: 5s;

}

@-webkit-keyframes roll-in-blurred-left {
    0% {
        -webkit-transform: translateX(-1000px) rotate(-720deg);
        transform: translateX(-1000px) rotate(-720deg);
        -webkit-filter: blur(50px);
        filter: blur(50px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1
    }
}

.trasladamos {
    transition: transform 1s;

}

.trasladamos:hover {
    transform: scale(1.1) translatey(-30px);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

}

/*************************ubicacion********************/
.ubicacion__mapa {
    transition: transform 1s;

}

.ubicacion__mapa:hover {
    transform: scale(1.1) translatey(30px);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

}

                        /*************************************SECCION ANIMACIONES********************************/
                            /**********************************TRASLADAMOS.HTML***********************************/
.card:hover {
    transform: scale(1.1) translatey(-30px);

    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.card {
    transition: transform 1s;
}

                            /*************************************SECCION ANIMACIONES********************************/
                                /*****************************NUESTRAEMPRESA.HTML***********************/

.grid__item:hover {
    transform: scale(1.1) translatey(-30px);

    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.grid__item {
    transition: transform 1s;
}

/****************************************SECCION MEDIAQUERIS 375px*************************************/
                            /*********************INDEX.HTML********************/

@media screen and (max-width: 375px) {

    .nav__titulo,
    .nav__titulo i {
        animation-name: none;
        color: white;
        font-style: italic;
        font-size: 1.2rem;

    }

    .button {
        border-color: white;
    }

    .portada__texto {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .grid {
        display: flex;
        flex-direction: column;
        height: 300px;
    }

    .trasladamos:hover,
    .ubicacion__mapa:hover {
        transform: none;
        box-shadow: none;

    }
    .trasladamos {
        height: 570px;
    }
    .ubicacion__title {
        font-size: 1.5rem;


    }
    .footer__top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .portada {
        background-image: url(../img/camionchiquito.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        height: 300px;
        background-color: white;
    }

/****************************************SECCION MEDIAQUERIS 375px*************************************/
                            /*********************TRASLADAMOS.HTML********************/

    .cards {

        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .card {
        align-items: center;
        border: solid 2px rgb(10, 10, 10);
        width: 350px;
        box-shadow: none;
        border-radius: 10px;
        overflow: hidden;
    }

    .card:hover {
        transform: none;
        box-shadow: none
    }

                     /*************************NUESTRAEMPRESA.HTML****************************/
    .grid_sect {
        display: flex;
        flex-direction: column;
    }
    .grid__item:hover {
        transform: none;
        box-shadow: none;

    }
    .nuestra__desc{
        font-size: 1.2rem;
    }
}

/****************************************MEDIAQUERIS 1200PX*************************************/
                    /*************************INDEX.HTML********************/
@media screen and (max-width: 1200px) {
    .portada {
        height: 50VH;
        background-color: white;

               /*********************NUESTRAEMPRESA.HTML********************/
        .card {

            max-width: 500px;
        }

    }