.main__nuestra {
   @include gradient;
    .nuestra {
        gap: 2rem;
        display: flex;
        flex-direction: column;

        .nuestra__texto {
            @include subtitle;
            
            
            .nuestra__titulo {
              font-size: 2rem;
                           
            }
            .nuestra__desc {
                text-align: center;
                font-size: 1.5rem;
                padding: 2rem;
                font-family: $font-family_2;
            }
         
        }
     


    }
}