@mixin flexcolcent{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@mixin borderboxradio{
    border: solid rgb(20, 20, 20);
    box-shadow: 1px 8px 8px;
    border-radius: 20px;
}

@mixin gradient{
    background: rgb(39,41,42);
    background: linear-gradient(100deg, rgba(39,41,42,0.571848807882528) 0%, rgba(168,21,51,1) 100%); 

}
@mixin gradients2{
    background: rgb(39, 41, 42);
    background: linear-gradient(340deg, rgba(39, 41, 42, 1) 3%, rgba(88, 135, 172, 1) 51%, rgba(168, 21, 51, 1) 100%);

}

@mixin hovercolor1{
    transform: scale(1.1) translatey(5px);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
@mixin hovercolor2{
    transform: scale(1.1) translatey(-30px);
        
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;

}

@mixin hovercolor3 {
    &:hover {
        transform: scale(1.1) translatey(-10px);
        box-shadow: rgba(0, 0, 0, 0.144) 0px 22px 70px 4px;
               
    }
}

@mixin subtitle {
    text-align: center;
    font-size: 2rem;
    font-family: $font-family_1;
    width: 100%;
    height: 100%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
        padding: 2rem;
    margin-top: 2rem;
}
/*media queris*/

@mixin footermedia{
    .footer__top {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
}

@mixin imgportada{
    background-image: url(../img/camionchiquito.jpg);
    height: 50vh;
}

@mixin textport{
    .portada__texto {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
}

@mixin mediagrid1{
    @media screen and (max-width: 800px){
           

        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "item1 item2" 
            "item3 item4"
            "item5 item6";
            gap: 1rem;
            padding: 1rem;
            height: 110vw;
        
    }
    @media screen and (max-width: 570px){
      
        display: flex;
        flex-direction: column;
        height: 120vw;
    }
  
    
}

@mixin mediacontacto{
    @media screen and (max-width: 982px) {
        flex-direction: column;
        gap: 2rem;
     }
}

@mixin mediagrid2{
    @media screen and (max-width: 900px) {
        display: flex;
        flex-direction: column;
        gap: 2rem;

     }
}

@mixin mediacontacto500px {
    @media screen and (max-width: 500px) {
        border: none;
       margin: 0;
       padding: 0;
         width: 90vw;
         transition: none;
         box-sizing: border-box;
         font-size: 0.5rem;
        &:hover {
                         transform:none;
         box-shadow:none;
     }

     }
}