.trasladamos {
    text-align: center;
    font-size: 2rem;
    padding-top: 6rem;
    font-family: 'Alfa Slab One', cursive;
    height: 400px;
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
    margin-inline: 10px;
    margin-top: 40px;
    margin-left: 20px;
    transition: transform 1s;
    &:hover {
        transform: scale(1.1) translatey(-30px);
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "item1 item2 item3"
            "item4 item5 item6";
        gap: 1rem;
        @include borderboxradio;

        .grid_item {
            background-size: cover;
            background-position: center center;
            padding: 2rem;
            background-repeat: no-repeat;


              
           
       
            &.grid_item1 {
                grid-area: item1;
                background-image: url(../img/trasimg/1.png);
                -webkit-animation: roll-in-blurred-left .65s cubic-bezier(.23, 1.000, .32, 1.000) both;
                animation: roll-in-blurred-left .65s cubic-bezier(.23, 1.000, .32, 1.000) both;
                animation-delay: 4s;
            }
            &.grid_item2 {
                grid-area: item2;
                background-image: url(../img/trasimg/2.png);
                -webkit-animation: roll-in-blurred-left .65s cubic-bezier(.23, 1.000, .32, 1.000) both;
                animation: roll-in-blurred-left .65s cubic-bezier(.23, 1.000, .32, 1.000) both;
                animation-delay: 4.2s;
            }
            &.grid_item3 {
                grid-area: item3;
                background-image: url(../img/trasimg/3.png);
                -webkit-animation: roll-in-blurred-left .65s cubic-bezier(.23, 1.000, .32, 1.000) both;
                animation: roll-in-blurred-left .65s cubic-bezier(.23, 1.000, .32, 1.000) both;
                animation-delay: 4.4s;
            }
            &.grid_item4 {
                grid-area: item4;
                background-image: url(../img/trasimg/4.png);
                -webkit-animation: roll-in-blurred-left .65s cubic-bezier(.23, 1.000, .32, 1.000) both;
                animation: roll-in-blurred-left .65s cubic-bezier(.23, 1.000, .32, 1.000) both;
                animation-delay: 4.6s;
            }
            &.grid_item5 {
                grid-area: item5;
                background-image: url(../img/trasimg/5.png);
                -webkit-animation: roll-in-blurred-left .65s cubic-bezier(.23, 1.000, .32, 1.000) both;
                animation: roll-in-blurred-left .65s cubic-bezier(.23, 1.000, .32, 1.000) both;
                animation-delay: 4.8s;
            }
            &.grid_item6 {
                grid-area: item6;
                background-image: url(../img/trasimg/6.png);
                -webkit-animation: roll-in-blurred-left .65s cubic-bezier(.23, 1.000, .32, 1.000) both;
                animation: roll-in-blurred-left .65s cubic-bezier(.23, 1.000, .32, 1.000) both;
                animation-delay: 5s;

                }

                @-webkit-keyframes roll-in-blurred-left {
                    0% {
                        -webkit-transform: translateX(-1000px) rotate(-720deg);
                        transform: translateX(-1000px) rotate(-720deg);
                        -webkit-filter: blur(50px);
                        filter: blur(50px);
                        opacity: 0
                    }
                
                    100% {
                        -webkit-transform: translateX(0) rotate(0deg);
                        transform: translateX(0) rotate(0deg);
                        -webkit-filter: blur(0);
                        filter: blur(0);
                        opacity: 1
                    }
                }
                
            }

          
        
        }
 }
 