/****************Barra de Navegacion**********************/


.navbar-toggler {
    background: color $color_2;;
}

.nav__titulo {
    font-size: 1rem;
    font-family: 'Alfa Slab One', cursive;
}
.nav-link.active {
    background-color: $color2;
    border-radius: 1rem;
}
.logo {
    color: $color2;
    padding-left: 1rem;
}
.navbar {
    padding: 1.5rem;
}
.nav-item {
    margin-right: 20px;
    margin-left: 10px;
    text-align: center;
    display: inline-block;
    &.nav-item a {
        color:$color2;
    }
}

main {
    padding: 40px;
}
.container {
    display: flex;
    justify-content: flex-end;
}
.main__ind{
   @include gradients2;
}
.navbar {

    -webkit-animation: rotate-hor-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: rotate-hor-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation-duration: 1s;
    animation-iteration-count: 1;

}

@-webkit-keyframes rotate-hor-center {
    0% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }

    100% {
        -webkit-transform: rotateX(-360deg);
        transform: rotateX(-360deg);
    }
}

@keyframes rotate-hor-center {
    0% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }

    100% {
        -webkit-transform: rotateX(-360deg);
        transform: rotateX(-360deg);
    }
}

/**************Nav****************/
.nav-item:hover {
    background-color: $color_1;
    transform: scale(1.1) translatex(-10px);
    border-radius: 20px;

    box-shadow: rgba(170, 169, 169, 0.521) 5px 5px, rgba(8, 7, 7, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(151, 55, 116, 0.1) 20px 20px, rgba(223, 14, 146, 0.05) 25px 25px;
    .nav-item {
        transition: transform 1s;
    }

}



.logo,
.nav__titulo {
    animation-name: colores;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes colores {
    20% {
        color: rgb(248, 97, 9);
    }

    40% {
        color: rgb(164, 185, 45);
    }

    60% {
        color: rgb(39, 10, 204);
    }

    80% {
        color: rgb(231, 45, 12);
    }

    100% {
        color: rgb(204, 10, 146);
    }
}

.nav__titulo,
.nav__titulo i {
    animation-name: none;
    color: $color_1;
    font-style: $font-family_3;
    font-size: 1.2rem;
    &.button {
        border-color: $color_1;
    }

}