
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    .body {
        background-color: $background-color_2;
    }
}
ul,
ol {
    list-style: none;
    .a {
        text-decoration: none;
    }
   
}


