
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');

$color_1: red;
$color_2: aliceblue;
$color_3:rgba(212, 196, 196, 0.753);
$color_4:black; 




$font-family_1: 'Alfa Slab One';
$font-family_2: 'Fredoka One', cursive;
$font-family_3:'Nanum Myeongjo', serif;




$background-color_1:rgba(180, 166, 166, 0.753);
$background-color_2: white;

